#container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: fit-content;
}
.custom-toggle-btn button {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.info:hover {
  background-color: red !important;
}
.btn-light {
  background-color: white !important;
  border: black;
}
.btn-light:hover {
  background-color: black;
}
.custom-toggle-btn .btn.active {
  color: black;
  background-color: #c1e7fe !important;
  border-color: black !important;
}
button.active.btn.btn-primary {
  background-color: #c1e7fe !important;
  color: black;
}

.btn-secondary {
  &:hover {
    background-color: rgb(238, 238, 238) !important;
    color: black !important;
  }
}
.display-icons {
  font-weight: bold;
}
.static-header-title{
  font-weight: 500;
}