.file-menu-row {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #f0f4f8;
  padding: 0.5rem;
  border-radius: 20px;
  margin-top: 1rem;
}
.part {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.file-menu-icon {
}

.custom-kebab {
  background-color: #f0f4f8;
  border: none;
  padding: 0px;
  display: flex;
  align-items: center;
  &:hover,
  &:active {
    background-color: #f0f4f8;
    border: none;
  }
  &::after {
    display: none;
  }
}
