.search-bar-container {
  width: 65%;
}
.input-group {
  &:focus-within {
    #inputGroup-sizing-default {
      background-color: white !important;
    }
    .form-control {
      background-color: white !important;
    }
  }
}
.input-group,
.form-control,
#inputGroup-sizing-default {
  transition: background-color 0.1s ease-in-out !important;
}
.form-control {
  background-color: #e9eef6 !important;
  border: 1px solid #e9eef6;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: white !important;
    border-color: white !important;
  }
}

#inputGroup-sizing-default {
  background-color: #e9eef6;
  display: flex;
  border: none;
  align-items: center;
  padding: 1em;
  color: #444746;

  &:focus-within {
    outline: none;
    box-shadow: none;
  }
  &::after {
    display: none;
  }

  &:hover {
    color: #585e64;
  }
}
.search-input-group {
  border-radius: 20px;
}
