.custom-pill {
  background-color: white;
  border-radius: 20px;
  color: black;
  font-weight: 400;
  font-size: 0.9em;
  padding: 0.3rem;
  width: 100%;
  border: 1px solid rgb(67, 67, 67);
  justify-content: space-evenly;
  display: flex;
  align-items: center;

  &:hover {
    background-color: lightgrey !important;
    color: black !important;
    border-color: rgb(67, 67, 67) !important;
  }
}

.active-toggle {
  color: black !important;
  background-color: #c1e7fe !important;
  border-color: rgb(67, 67, 67) !important;
  font-weight: 500;
}
.dropdown {
  margin-left: 0 !important;
  min-width: 8%;
}
.dropdown.dropdown-toggle {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  border: none;
  color: #1f1f1f;
  background-color: #e9eef6;
  font-size: 0.9em;

  border-radius: 15px;
  &:hover,
  &:focus,
  &:active {
    background-color: lightgrey !important;
    color: black !important;
    border-color: rgb(102, 102, 102) !important;
  }
}
.btn.show {
  background-color: lightgrey !important;
}
.drop-location {
  padding: 0.5rem;
  .location-item {
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 300;
    .drop-icon {
      margin-right: 1rem;
    }
  }
}

.file-types,
.person-types,
.location-item,
.date-types {
  &:active {
    background-color: rgb(207, 207, 207) !important;
    color: black;
  }
}
.cancel {
  background-color: #c1e7fe;
  border-color: #c1e7fe;
  color: black;
  border-top-right-radius: 11px !important;
  border-bottom-right-radius: 11px !important;
  height: 2rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  &:hover,
  &:active {
    background-color: rgb(157, 189, 215) !important;
    border-color: rgb(157, 189, 215) !important;
    color: black !important;
  }
}
.dropdown-btn.active {
  border-radius: 11px;
  font-size: 0.8rem;
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
  background-color: #c1e7fe;
  border-color: #c1e7fe;
  color: black;
  &:hover {
    background-color: rgb(157, 189, 215);
    border-color: rgb(157, 189, 215);
    color: black;
  }
  &::after {
    border: none;
  }
}
.selected-check {
  margin-right: 1rem;
}
.clear-filter {
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  color: black;
  border: none;
  &:hover {
    border-radius: 20px;
  }
}

.filter-bar {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

@media (max-width: 768px) {
  .filter-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .filter-bar > * {
    margin-bottom: 0.5rem;
  }
  
  .filter-bar .dropdown-btn {
    width: 100%;
  }
}