.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.sign-in-form {
  display: flex;
  width: 25%;
  padding: 2rem;
  justify-content: center;
  border: 0.5px solid #e6e6e6;
  border-radius: 5px;
  overflow: hidden; // Keeps children within the border

  @media (max-width: 768px) {
    width: 80%; // Makes form wider on small screens
    flex-direction: column; // Stack form elements vertically
  }
}

.left-panel {
  background: #f8f9fa;
  border-right: 1px solid #ccc;

  @media (max-width: 768px) {
    display: none; // Hide left panel on small screens if not needed
  }
}

.right-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#signinlogo {
  width: 4rem; 
  height: 3rem;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    width: 3rem;
    height: 2.25rem;
  }
}

.input-group.password,
.input-group.email {
  margin-top: 1.5rem;
  @media (max-width: 768px) {
    margin-top: 1rem; // Reduce margin top on smaller screens
  }
}

.signin-boxes {
  width: 100%;
  display: block;
  padding: 10px;
  margin-top: 0.6rem;
  border: 1px solid #ddd;
  border-radius: 7px;
  transition: border 0.1s linear;
  &:focus-within {
    outline: none;
    box-shadow: none;
    border: solid 2px #3b72d9;
  }
}

.title-signin {
  h4 {
    font-size: 0.9em;
  }
  h3 {
    font-size: 1.5em;
  }
}

.signin-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  flex-direction: column; // Makes buttons stack vertically on all sizes
}

.signin-buttons {
  background-color: white;
  color: #3b72d9;
  border: none;
  border-radius: 20px;
  font-weight: 450;

  &:hover {
    background-color: #e7eefc;
    color: #3b72d9;
  }
}

.signin-buttons.next {
  border-radius: 5px;
  padding: 0.5rem 2rem;
  color: white;
  background-color: #3b72d9;
  margin-top: 10px; // Adds spacing between buttons on mobile
}
