.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.sign-in-form {
  display: flex;
  width: 25%;
  padding: 2rem;
  justify-content: center;
  border: 0.5px solid #e6e6e6;
  border-radius: 5px;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 75%; // Larger width for smaller screens
  }

  @media (max-width: 480px) {
    width: 90%; // Almost full width for mobile screens
    padding: 1rem; // Less padding to save space
  }
}

.right-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#signinlogo {
  width: 3rem; // Larger logo for better visibility
  height: 2.25rem;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    width: 2rem;
    height: 1.5rem;
  }
}

.input-group {
  &.password {
    margin-bottom: 10px;
  }
  &.email {
    margin-top: 1.5rem;
  }
}

.signin-boxes {
  width: 100%;
  display: block;
  padding: 10px;
  margin-top: 0.6rem;
  border: 1px solid #ddd;
  border-radius: 7px !important;
  transition: border 0.1s linear;

  &:focus-within {
    outline: none;
    box-shadow: none;
    border: solid 2px #3b72d9 !important;
  }
}

.input-group label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.title-signin {
  h4 {
    font-size: 0.9em;
  }
  h3 {
    font-size: 1.5em;
  }

  @media (max-width: 768px) {
    h4 {
      font-size: 0.8em; // Smaller font on smaller screens
    }
    h3 {
      font-size: 1.3em;
    }
  }
}

.signin-btns {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}

.signin-buttons {
  background-color: white !important;
  color: #3b72d9 !important;
  border: none !important;
  border-radius: 20px;
  font-weight: 450;

  &:hover {
    background-color: #e7eefc !important;
    color: #3b72d9 !important;
  }

  &.next {
    border-radius: 5px;
    padding: 0.5rem 2rem;
    color: white !important;
    background-color: #3b72d9 !important;
  }
}

.no-account {
  font-size: 0.9rem;
  margin-top: 1rem;

  .register-here {
    color: #3b72d9;
    cursor: pointer;
  }
}
