.table {
  td {
    padding: 0.8rem 0rem;
    color: rgb(85, 85, 85);
    font-weight: 200;
    overflow: hidden; // Ensure the overflow content is not displayed
    white-space: nowrap; // Keep the text on a single line
    text-overflow: ellipsis;
  }
  .selected-file {
    background-color: #c1e7fe;
    border-bottom-color: #c0e7fe;
  }

  th {
    font-weight: normal;
    font-size: 0.87rem;
    cursor: pointer;
  }
  tbody {
    font-size: 0.85rem;

    #name {
      color: black;
      font-weight: 400;
      width: 40%;
      padding-left: 1.5rem;
    }
    #reason {
      width: 20%;
      display: flex;
      align-items: center;
      display: table-cell;
    }
    #owner {
      width: 10%;
      display: table-cell;
    }
  }
}

.table > :not(caption) > * > * {
  padding-left: 0px;
}
.grid-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 16px;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(150px, 1fr)
    ); /* Smaller grid items */
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Medium grid items */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(250px, 1fr)
    ); /* Larger grid items */
  }
}

.grid-item {
  background: #f0f4f8;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item img,
.grid-item embed {
  width: 92%;
  height: 150px;
  object-fit: cover;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-name {
  width: 100%;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}
.file-details {
  padding: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: rgb(112, 112, 112);
}
p {
  margin: 0px;
}

.grid-item.selected-file,
.grid-folder-item.selected-file {
  background-color: #c1e7fe;
  border-bottom-color: #c0e7fe;
}
.grid-folder-item {
  background: #f0f4f8;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem 0.2rem 1rem;
}
.file-preview {
  background-color: white;
  width: 92%;
  height: 150px;
  object-fit: cover;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  .file-preview-icon {
    width: 80%;
    height: 5rem;
  }
}
// filetable.scss
/* filetable.scss */

tr:hover .action-icons {
  opacity: 1;
  background-color: inset 0 0 0 9999px
    var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg))); /* icons become fully opaque on hover */
}

.action-icons {
  display: flex !important;
  justify-content: end !important;
}

.action-icon {
  cursor: pointer;
  margin-right: 1rem; /* space between icons */
}
#buttons-list {
  display: flex;
  justify-content: end;
}
