.custom-nav-pills {
  .nav-link {
    color: black;
    font-weight: 300;
    margin-bottom: 0.5rem;

    &:hover {
      color: black;
      background-color: rgb(228, 228, 228);
    }
  }

  .nav-link.active {
    background-color: #249dff !important;
    color: white;
  }
}

img {
  height: 2em;
}
a {
  font-size: large;
}
.container {
  padding: 1rem 3rem;
  background-color: rgb(249, 251, 255);
}
.link-dark {
  display: flex;
  align-items: center;
  text-decoration: none;

  img {
    max-height: 100%; 
    object-fit: contain; 
  }

  h3 {
    margin: 0;
    padding: 0;
    line-height: 1; 
  }
}
